body{
    font-family: cursive;
    font-size: 18px;
    margin: 30px;
}
h1{
    color: midnightblue;
    font-size: 46px;
    text-decoration: underline;
}

button{
    border: 2px solid midnightblue;
    border-radius: px;
    padding: 10px 25px;
    font-size:18px;
    color: rgb(196, 0, 0);
    cursor: pointer;
    margin-right: 20px;
    transition: transform 0.25s;
    
}

button:disabled{
    opacity: 0.4;
    cursor:not-allowed;
}

button:hover{
    transform: scale(1.05);
}

.final-result{
    font-weight: bold;
    font-size: 24px;
}